
// fonts

$pricipal-font: DaxBlack;
$secondary-font: DaxRegular;


// colors

$dark-color: #050000;
$dark-gray: #131212;
$dark-blue: #05475D;
$normal-blue: #00688A;
$yellow: #FCB247;
$white: #ffffff;